*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#login-sign .container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d6fffe8

    ;
    column-gap: 30px;
}
#login-sign .form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #FFF;
}
#login-sign .form.signup{
    opacity: 0;
    pointer-events: none;
}
#login-sign .forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
#login-sign .forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
#login-sign header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
#login-sign form{
    margin-top: 30px;
}
#login-sign .form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
#login-sign .field input,
#login-sign .field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
#login-sign .field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
#login-sign .field input:focus{
    border-bottom-width: 2px;
}
#login-sign .eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
#login-sign .field button{
    color: black;
    background-color: #1ACC8D;
    transition: all 0.3s ease;
    cursor: pointer;
}
#login-sign .field button:hover{
    background-color: #6d6fffe8
    ;
    box-shadow: 10px 10px  black;

}
#login-sign .form-link{
    text-align: center;
    margin-top: 10px;
}
#login-sign .form-link span,
#login-sign .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
#login-sign .form a{
    color: #0171d3;
    text-decoration: none;
}
#login-sign .form-content a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    #login-sign .form{
        padding: 20px 10px;
    }
    
}